body {
    margin: 0;
    width: 550px;
    height: 729px;
    left: 76px;
    top: 126px;

    background: #F4F4F4;
    }
    
.hero{
    width: 550px;
    height: 285px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    background: #6943FF;
}

.sub{
    width: 448.4px;
    height: 38px;
    left: 51px;
    top: 33px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 38px;
    /* identical to box height, or 136% */

    text-align: center;
    letter-spacing: -0.03em;

    color: #FFFFFF;
}

#input-el{
    box-sizing: border-box;
    width: 117px;
    height: 83px;
    left: 217px;
    top: 101px;

    border: 2px solid #B295FF;
    border-radius: 5px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 58px;
    line-height: 24px;
    /* or 42% */

    text-align: center;
    background-color: #6943FF;;
    color: #FFFFFF;
}

#conrvert-btn{
    width: 117px;
    height: 42px;
    left: 217px;
    top: 209px;

    background: #FFFFFF;
    /* shadow/sm */

    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.rusult{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 550px;
    left: 76px;
}

.rusult-bx{
    width: 500px;
    height: 108.57px;
    top: 321px;
    background: #FFFFFF;
    border-radius: 4.68077px 0px 0px 0px;
    margin-top: 23px
}
.rusult-sub{
            height: 25px;
            top: 31px;

            font-family: 'Inter';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            line-height: 20px;
            /* or 100% */

            text-align: center;

            color: #5A537B;
}

.result-tx{

height: 25px;

top: 65px;

/* text-sm/leading-5/font-normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* or 143% */

text-align: center;

color: #353535;
}